* {
  margin: 0;
  padding: 0;
}

body {
  margin-left: 10%;
  margin-right: 10%;
}

.container {
  text-align: center;
  display: grid;     /*MYCODE*/
  grid-template-columns: 1fr 4fr;
  gap: 4px;       /*MYCODE*/
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;      /*MYCODE*/
  grid-column: 1 / 3;
  grid-template-columns: 1fr 2fr;
}

.menu {
  align-self: center;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
           /*MYCODE*/
.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;   /*MYCODE*/
}

.sidebar {
  background-color: #FF7755;
  display: grid;    /*MYCODE*/
  grid-row: 2 / 4;
  gap: 50px;
}    /*MYCODE*/

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #FF7755;
}
       /*MYCODE*/
.nav ul {     
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
         /*MYCODE*/
.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;      /*MYCODE*/
}

.article {
  background-color: #bccbde;
  display: grid;     /*MYCODE*/
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}      /*MYCODE*/

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;     /*MYCODE*/
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  display: grid;         /*MYCODE*/
  grid-column: span 2;    /*MYCODE*/
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
